<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.resume.mapper.NewresumeMapper">
    <!--自定义结果集 -->
    <!--<resultMap type="Basic_info" id="basicResultMap">-->
        <!--<id property="ID" column="ID" />-->
        <!--<result property="Name" column="Name" />-->
        <!--<result property="Gender" column="Gender" />-->
        <!--<result property="Age" column="Age" />-->
        <!--<result property="Address" column="Address" />-->
        <!--<result property="Email" column="Email" />-->
        <!--<result property="Tel" column="Tel" />-->
        <!--<result property="School" column="School" />-->
        <!--<result property="Introduce" column="Introduce" />-->
    <!--</resultMap>-->
    <!--<resultMap type="Educational_info" id="eduResultMap">-->
        <!--<id property="Eduid" column="Eduid" />-->
        <!--<result property="School" column="School" />-->
        <!--<result property="Major" column="Major" />-->
        <!--<result property="Education" column="Education" />-->
        <!--<result property="Graducation" column="Graducation" />-->
    <!--</resultMap>-->
    <!--<resultMap type="Work_info" id="workResultMap">-->
        <!--<id property="Workid" column="Workid" />-->
        <!--<result property="Company" column="Company" />-->
        <!--<result property="Position" column="Position" />-->
        <!--<result property="Duty" column="Duty" />-->
        <!--<result property="Depature" column="Depature" />-->
    <!--</resultMap>-->
    <!-- 插入基本信息（除自我介绍） -->
    <insert id="insertbasic" parameterType="Basic_info">
        INSERT
        INTO basic_info(name,gender,age,address,email,tel,school,userId)
        VALUES (#{name},#{gender},#{age},#{address},#{email},#{tel},#{school},#{userId})
    </insert>
    <!-- 插入教育信息 -->
    <insert id="addEducational" parameterType="Educational_info">
        INSERT
        INTO educational_info(school,major,education,graduation,userid)
        VALUES (#{School},#{Major},#{Education},#{Graduation},#{Userid})
    </insert>
    <!-- 插入工作经历信息 -->
    <insert id="addWork" parameterType="Work_info">
        INSERT
        INTO work_info(company,position,duty,departure,userid)
        VALUES (#{Company},#{Position},#{Duty},#{Departure},#{Userid})
    </insert>

    <!-- 插入自我介绍，因为放在已有记录下，所以用update语句 -->
    <update id="addIntroduce" parameterType="Basic_info"  >
        UPDATE basic_info
        SET introduce=#{Introduce} WHERE UserId=#{UserId}
    </update>

    <!-- 查询基础信息 -->
    <select id="selectBasic_info" parameterType="Basic_info" resultType="Basic_info">
        SELECT *
        FROM basic_info WHERE userId=#{userid}
    </select>
    <!-- 查询教育信息 -->
    <select id="selectEducational_info" parameterType="Educational_info" resultType="Educational_info">
        SELECT *
        FROM educational_info WHERE userid=#{userid}
    </select>
    <!-- 查询工作经历信息 -->
    <select id="selectWork_info" parameterType="Work_info" resultType="Work_info">
        SELECT *
        FROM work_info WHERE userid=#{userid}
    </select>

</mapper>